.home {
  height: 100vh;
  overflow: auto;
  background-color: #fff;
}

.header {
  margin-block: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.main {
  display: flex;
  justify-content: center;
}
